.review-card {
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  background: white;
}
.review-card img {
  margin-top: -50px;
  border: 12px solid white;
}
.review-show {
  background: whitesmoke;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
